/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
 @import url(../../lib/font/Lato2OFLWeb/Lato/latofonts.css);
 @import url(../../lib/font/cartiqo/cartiqo.css);

section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #222; }


.cartiqo {
    font-family: "cartiqo", "LatoWeb", Helvetica, sans-serif;
    color: #ffffff;
    font-size: 3.2em;
    padding: 0px;
    line-height: 1;
}

.iconlinks{
  position: absolute;
  top:-340px;
  right:-170px;
}
/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background:  #f9f9f9;
  background-color: #f9f9f9;
  background-image: url('../../backgrounds/exclusive-paper.png');
}
.patternBackground{
    background-image: url('../../backgrounds/hexellence.png');
    background-color: #f9f9f9;
}

.takeaway {
    background-image: url('../../backgrounds/hexellence.png');
    background-color: #f9f9f9;
    padding: 15px;
    text-align: left;
    text-shadow: 2px 2px #636363;
}

.reveal {
  font-family: "LatoWeb", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #535353; }

::selection {
  color: #fff;
  background: #317581;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
   }

/*********************************************
 * Animation
 *********************************************/

 @keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

#animateBounce{
  /* mix-blend-mode: color-burn; */
  animation: bounceIn 2s infinite alternate;

}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #317581;
  font-family: "LatoWebHeavy", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  word-wrap: break-word;
  text-shadow: 2px 2px 3px #333333;
}

.reveal h1 {
  font-size: 2em;
  text-transform: uppercase;
  
}

.reveal h2 {
  font-size: 1.6em; 
text-decoration: underline; }


.reveal h3 {
  font-size: 1.3em; 
  color: #ffffff;
}

.reveal h4 {
  font-size: 1em;
  text-shadow: none; }


/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; 
  color: #535353;}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 85%;
  max-height: 85%; 
}

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  color: #535353;
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #ffffff;
  background-color: #317581;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; 
}

.reveal a:hover {
  background-color: #ffffff !important;
  color: #317581 !important;
  text-shadow: none;
  border: none; 
  text-shadow: 2px 2px 3px #333333;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; 
}

.reveal a:visited {
  background-color: #317581;
  color: #ffffff ;
  text-shadow: none;
  border: none; 
  text-shadow: 2px 2px 3px #333333;
}

.reveal .roll span:after {
  color: #fff;
  background: #317581; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 0px solid #222;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal .noBackground{
    background-color: transparent !important;
}
.reveal .noBackground:hover{
    background-color: transparent !important;
}
.reveal a img {
  background-color: transparent;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.55); 
  background-color: transparent !important;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

 .reveal .controls {
  color: #317581;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #317581;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
